.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 3em;
  margin: 0.2em;
  border-radius: 5px;
  background-color: #d2d4d8;
  color: black;

  &:hover {
    cursor: pointer;
    background-color: #c4c5c8;
  }
}

.correct {
  background-color: #6baa64;
  border: none;
}

.wrong {
  background-color: #787c7f;
  border: none;
}

.badposition {
  background-color: #c9b457;
  border: none;
}

.pop-in {
  animation: pop-in 0.3s linear;
}

.scale-y {
  animation: scale-y-down 0.6s ease-out;
}

.shake {
  animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.jump {
  animation: jump 0.6s ease-out;
}

@keyframes pop-in {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-y-down {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2em);
  }
  100% {
    transform: translateY(0);
  }
}
